.sol-oculta {
   display: none
}

.tb-eje td:nth-last-child(-n+4):not(:last-child) {
   font-family: monospace;
}

table.rraa-uutt th p {
    text-align: center;
}

table.rraa-uutt td:not(:first-child):not(:empty) {
   background-color: #f98;
}

table.rraa-uutt td:not(:first-child):not(:empty) p {
   text-align: center;
}

@media only screen {
   table.rraa-uutt td:not(:first-child):not(:empty) p {
      display: none;
   }
}

table.rraa-uutt th,  table.rraa-uutt td {
   border:  solid #999 1px;
}

table.rraa-uutt th {
   background-color: #bce5ff;
}

.xpath-oper td:first-child {
   font-family: monospace;
}

table.el-html {
    border: solid #aaa 2px;
    margin: auto;
    width: 800px;
}

table.el-html tr td {
   border: solid #aaa 1px;
}

table.el-html tr td:first-child {
   font-family: monospace;
   background-color: #ee9;
   font-size: larger;
   font-weight: bold;
   vertical-align: middle;
   width: 30%;
}

table.el-html tr td:first-child p {
   hyphens: none;
}

table.el-html tr td:last-child {
   background-color: #bdf;
}

table.el-html tr td[colspan] {
   background-color: #b71;
   text-align: center;
   color: white;
}

table.attr-html {
    border: solid #aaa 2px;
    margin: auto;
    width: 800px;
}

table.attr-html caption {
   font-weight: bold;
}

table.attr-html tr td {
   border: solid #aaa 1px;
}

table.attr-html tr td:first-child {
   background-color: #ed9;
   vertical-align: middle;
   font-family: monospace;
}

table.attr-html tr td:not(last-child) p {
   hyphens: none;
}

table.attr-html tr td:nth-child(2) {
   background-color: #eee;
   vertical-align: middle;
   font-family: monospace;
   text-align: center;
}

table.attr-html tr td:last-child {
   background-color: #bdf;
}

.ej-html::before {
   font-variant: small-caps;
   font-weight: bold;
   content: url(https://www.w3.org/html/logo/downloads/HTML5_Badge_32.png);
   float: left;
   position: relative;
   top: -.40em;
}

.ej-html {
   border: solid #e42 2px;
   background-color: #fdc;
   padding: .5em 1em 0 .25em;
}

.ej-html ins {
   color: blue;
   font-weight: bold;
}

.ej-html del {
   color: #777;
}

