.sol-oculta {
   display: none
}

.tb-eje td:nth-last-child(-n+4):not(:last-child) {
   font-family: monospace;
}

table.rraa-uutt th p {
    text-align: center;
}

table.rraa-uutt td:not(:first-child):not(:empty) {
   background-color: #f98;
}

table.rraa-uutt td:not(:first-child):not(:empty) p {
   text-align: center;
}

@media only screen {
   table.rraa-uutt td:not(:first-child):not(:empty) p {
      display: none;
   }
}

table.rraa-uutt th,  table.rraa-uutt td {
   border:  solid #999 1px;
}

table.rraa-uutt th {
   background-color: #bce5ff;
}

.xpath-oper td:first-child {
   font-family: monospace;
}
