.sol-oculta {
   display: none
}

.tb-eje td:nth-last-child(-n+4):not(:last-child) {
   font-family: monospace;
}

table.rraa-uutt th p {
    text-align: center;
}

table.rraa-uutt td:not(:first-child):not(:empty) {
   background-color: lightgray;
}

table.rraa-uutt td:not(:first-child):not(:empty) p {
   text-align: center;
}

@media only screen {
   table.rraa-uutt td:not(:first-child):not(:empty) p {
      display: none;
   }
}

